@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Inicio";

}
<section class="content">
    <div class="row">
        <div class="col-12">
       
        </div>
    </div>
</section>



