@page "{id}"
@model NOVAAPP.Pages.CorreoEnvio.EditarModel
@{
    ViewData["Title"] = "Correo Envio";
}


@section styles{


}

@section scripts{

    <script>
         $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                   if("@Model.Correo.RecepcionUseSSL" == "False")
                   {
                       $("#md_checkbox_10").iCheck("uncheck");
                   }
                });
            });
            
          



        });
    </script>    

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Correo de Envio
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Editar Correo de Envio</li>
    </ol>
</section>



    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="box-subtitle"> Editar Correo de Envio</h6>

                            </div>
                            <div class="col-4">
                                 <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>

                                
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <input hidden asp-for="Correo.id" />
                        <div class="row">
                            
                                
                                    <div class="col-6">
                                        <div class="form-group">
                                            <h5>Correo Electrónico<span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="email" asp-for="Correo.RecepcionEmail" class="form-control" required data-validation-required-message="Este campo es requerido">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-6">
                                        <div class="form-group">
                                            <h5>Servidor del Correo<span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" asp-for="Correo.RecepcionHostName" class="form-control" required data-validation-required-message="Este campo es requerido">
                                            </div>
                                            
                                        </div>
                                    </div>
                            
                        </div>
                        <br />
                        <input type="checkbox" asp-for="Correo.RecepcionUseSSL" id="md_checkbox_10" class="chk-col-green" checked="">
                        <label for="md_checkbox_10">Usa SSL</label>
                        <br />
                        <br />


                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                            <h5>Contraseña del Correo<span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" asp-for="Correo.RecepcionPassword" class="form-control" required data-validation-required-message="Este campo es requerido">
                                            </div>
                                            
                                        </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                            <h5>Puerto<span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="number" asp-for="Correo.EnvioPort" class="form-control" required data-validation-required-message="Este campo es requerido">
                                            </div>
                                            
                                        </div>
                            </div>
                        </div>

                        <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info" title="Guardar Cambios">Guardar Cambios</button>
                                    </div>
                        </form>
                    </div>


                </div>
            </div>

        </div>
    </section>

