@page
@model Sicsoft.Checkin.Web.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio de Sesión</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />


    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-extend.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_style.css">
    <link rel="stylesheet" type="text/css" href="~/css/skins/_all-skins.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
    
    <style>

    </style>
    
</head>
<body class="hold-transition login-page">


    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">
            <div class="col-lg-4 col-md-8 col-12">
                <div class="login-box bg-img rounded" style="background-color: #FFFFFF;" >
                    <div class="login-box-body">
                        <h3 class="text-center"><img src="/img/Novagro.png"></h3>
                     

                        <form method="post" id="formTipos" role="form" novalidate class="form-element text-black">
                            <div asp-validation-summary="All" style="text-align: center;" class="text-danger"></div>


                            <div class="form-group has-feedback">
                                <select id="selectSucurales" class="form-control" asp-for="Input.CodSuc" onchange="javascript: CambiaSucursal()" required>
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in Model.Sucursales)
                                    {
                                        <option value="@item.CodSuc">@item.CodSuc - @item.Nombre</option>
                                    }



                                </select>


                                <span asp-validation-for="Input.CodSuc"  ></span>
                            </div>
                            <div class="form-group has-feedback">
                                <select id="selectCajas" class="form-control" asp-for="Input.idCaja" required>
                                    



                                </select>


                                <span asp-validation-for="Input.idCaja"  ></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" asp-for="Input.nombreUsuario" class="form-control text-black" placeholder="Nombre de Usuario" id="nombreUsuario">
                                <span asp-validation-for="Input.nombreUsuario" class="ion ion-person form-control-feedback text-black"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" asp-for="Input.clave" class="form-control text-black" placeholder="Contraseña">
                                <span asp-validation-for="Input.clave" class="ion ion-locked form-control-feedback text-black"></span>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="checkbox">
                                        <input type="checkbox" id="basic_checkbox_1">
                                        <label for="basic_checkbox_1">Remember Me</label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-6">
                                    <div class="fog-pwd text-right">

                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-success btn-block margin-top-10">INICIAR SESIÓN</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <div class="margin-top-30 text-center">

                        </div>

                    </div>
                    <!-- /.login-box-body -->
                </div>
                <!-- /.login-box -->

            </div>
        </div>
    </div>


 

    <!-- jQuery 3 -->
    <script src="~/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.min.js"></script>

    <!-- popper -->
    <script src="~/assets/vendor_components/popper/dist/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="~/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {

                });
            });






        });
        function CambiaSucursal() {
             $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '@Url.Page("Login", "Cajas")',
                 data: { CodSuc: $("#selectSucurales").val() },
                        success: function (result) {
                            console.log(result);
                            if (result != []) {

                                var text = "";
                                $("#selectCajas").html("");
                                for (var i = 0; i < result.length; i++) {
                                    text += "<option value='" + result[i].id + "'>" + result[i].nombre +" </option>"
                                }

                                $("#selectCajas").html(text);

                             }
             },
             beforeSend: function () {

             }
                     })
        }

    </script>
</body>
    
</html>
